.bg{
    background-color: aquamarine;
}

.img{
    width: 25%;
    display: block;
}

.img2{
    background-color: aquamarine;
    width: 2%;
    margin: 2px;
    padding-left: 1px;
    
}

.overview{
    margin-right: 0;
} 